section p {
    margin: 0 30%;
}

section h2+p {
    border: 3px solid green;
    margin-bottom: 2%;
    font-size: 20px;
    font-family:julee;
}

section p+p {
    margin-bottom: 3%;
}

article {
    text-align: left;
    margin: 0 30%;
    margin-bottom: 3%;
    background-color: #ecebeb;
    position: relative;
}

article img {
    width: 50%;
    vertical-align: middle;
}

.texto {
    border: 5px solid blue;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;

    
}

