/*** RESETEO INICIAL DE PROPIEDADES ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************************/
/*** PROPIEDADES COMUNES ***/
/***************************/
/* CENTRAR SECCIONES LÓGICAS*/
#header, main, #footer {
    text-align: center;
}

/* FONDOS DE SECCIONES LÓGOCAS */
.fondoBlanco {
    background-color: white;
}

nav, .fondoRosa, footer {
    background-color: #edb2c2;
}

#bienvenida, #tienda, #artistas {
    padding-block-end: 5%;
}

/* FORMATEO DE ENLACES */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* FUENTES */
/*https://fonts.google.com/?preview.text=UNA%20GRAN%20SELECCI%C3%93N%20EN%20ARTISTOBRA&preview.text_type=custom&category=Display */
@font-face {
    font-family: cinzelDecorative;
    src: url(../fonts/CinzelDecorative-Bold.ttf);
}

@font-face {
    font-family: elMessiriBold;
    src: url(../fonts/ElMessiri-Bold.ttf);
}

@font-face {
    font-family: julee;
    src: url(../fonts/Julee-Regular.ttf);
}

@font-face {
    font-family: questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: homemadeApple;
    src: url(../fonts/HomemadeApple-Regular.ttf);
}

@font-face {
    font-family: satisfy;
    src: url(../fonts/Satisfy-Regular.ttf);
}


h1 {
    font-family: cinzelDecorative;
    text-transform: uppercase;
    font-size: 50px;
}

h2 {
    padding: 3% 20%;
    font-family: elMessiriBold;
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    padding-bottom: 3%;
    font-family: homemadeApple;
    font-size: 30px;
}

h4 {
    font-family: cinzelDecorative;
    text-transform: uppercase;
    font-size: 20px;
}

p, label {
    font-family: questrial;
    color: #000000;
}


/***************************************/
/*** PROPIEDADES POR SECCIÓN LÓGICA ***/
/**************************************/

/**************************************/
/************** HEADER ****************/
/**************************************/
header {
    height: 200px;
    width: 100%;
    padding: 3% 10%;
}

#logoHeader, #headerDer {
    display: inline-block;

}

header img {
    vertical-align: middle;
}

#logoHeader img, h1 {
    display: inline;
}

#headerDer {
    float: right;
}

.headerImg {
    width: 40px;
}

/* Barra de búsqueda */
input[type=search] {
    padding: 6px;
    margin-right: 16px;
    font-size: 17px;
}

input[type=search]:focus {
    outline: none;
}

/**************************************/
/************** NAV *******************/
/**************************************/

/********** NAV HORIZONTAL *************/
nav {
    font-family: elMessiriBold;
    font-size: 20px;
    padding: 3% 0;
}

nav ul {
    width: 100%;
    text-align: center;
    padding: 0 10%;
}

/* items del nav */
nav ul li {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 16%;
    background-color: #6a1a2f;
}

/* enlaces del nav */
nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
}

/* efecto al pasar el ratón */
nav ul li:hover {
    border: 1px solid #6a1a2f;
    background: white;
}

nav ul li:hover a {
    color: #6a1a2f;
}

/********** NAV DESPLEGABLE *************/
nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

/* items del nav desplegable */
nav ul ul li {
    width:100%;
}

/* items del nav desplegable al pasar el ratón */
nav ul li:hover > ul {
    display:block;
}

/* enlaces de los items del nav desplegable */
nav ul li:hover > ul a {
    color:white;
}

/* efecto al pasar el ratón por los ítems del nav desplegable */
nav ul li:hover > ul li:hover a {
    color:#6a1a2f;
}

/********** NAV RESPONSIVE *************/
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/**************************************/
/************* BIENVENIDA *************/
/**************************************/
#bienvenida img {
    width: 60%;
}

/**************************************/
/************** TIENDA ****************/
/**************************************/
#tienda section {
    margin: 0 15%;
    background-color: #ffff;
}

#tienda article {
    width: 20%;
    margin: 1%;
    display: inline-block;
    border: 2px solid #c7c7c7;
}

#tienda article img {
    height: 300px; 
}

/* Para img hover: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */

.scaleDown {
    width: 100%;
    object-fit: scale-down;
}

#tienda p {
    line-height: 150%;
    font-size: 20px;
}
#tienda p:last-child {
    margin-bottom: 10%;
    color: gray;
}


/**************************************/
/************ ARTISTAS ****************/
/**************************************/
/* márgenes del h2 y el texto introductorio */
#artistas h2, #artistas > p {
    margin: 0 15%;
}

/* párrafo introductorio */
#artistas > p {
    line-height: 30px;
    padding-bottom: 30px;
}

/* para cada artista */
.artista img {
    height: 400px;
}

.artista {
    position: relative;
    display: inline-block;
    margin: 3%;
}

.artista section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: left;
    line-height: 30px;
    padding: 5%;
    font-size: 15px;
    background-color: white;
}

/* formateo de texto de la descripción de cada artista */
.artista p {
    font-family: julee;
    font-size: 20px;
}

/**************************************/
/************** SOBRE *****************/
/**************************************/
#sobre {
    border-left: 250px solid  #edb2c2;
    border-right: 250px solid  #edb2c2;
}

/*Posición texto e imagen uno al lado del otro*/
#sobre, #sobreTexto, #sobre img {
    float: left;
}

#sobreTexto {
    width: 50%;
    margin-top: 5%;
}

#sobre img {
    width: 50%;
}

#sobre p {
    margin: 0 5%;
    text-align: justify;
    font-size: medium;
    line-height: 20px;
    padding-bottom: 40px;
}


/**************************************/
/************** FOOTER ****************/
/**************************************/
footer {
    clear: left;
    padding-block-start: 5%;
    text-align: center;
}

#logoFooter img {
    width: 60px;
    height: auto;
    vertical-align: middle;
}

#logoFooter img, h4 {
    display: inline;
    margin: 3% 0;
}

/**** FORMULARIO SUSCRIPCIÓN ****/
form {
    margin: 0 30%;
    padding: 3%;
    background-color: #6a1a2f;
}

#suscripcion label {
    width: 100%;
    font-size: 18px;
    color: #ffff;
}

#suscripcion input {
    width: 50%;
    padding: 2%;
    background-color: #78293e;
    color: #b66d80;
    border: none;
    margin-top: 3%;
}

#suscripcion input::placeholder {
    color: #c097a2;
}

#suscripcion input:focus {
    background-color: #ffff;
    outline: none;
}

#suscripcion input:focus::placeholder {
    color:#6a1a2f;
}

#suscripcion .buttons {
    width: 16%;
    background: #bf778a;
    border: none;
    color: #ffff;
    font-weight: bold;
}

#suscripcion .buttons:hover {
    background-color: #ffff;
    color:#6a1a2f;
    outline: none;
}


/* Check o aspa según si el email es válido o no*/
#email:focus {
    background-image: url(../images/cross.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

#email:valid {
    background-image: url(../images/checked.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/***************/

#redesSociales img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

footer p {
    padding: 3%;
}

/**************************************/
/************ RESPONSIVE **************/
/**************************************/
/* Reduce padding del header y tamaño de letra de los elementos del nav */
@media (max-width: 1735px){
    header {
        padding: 3% 3%;
    }
    
    nav ul {
        padding: 1% 3%;
    }
    nav ul li a{
        font-size: 16px;
    }
}

/* Reduce el borde de #sobre */
@media screen and (max-width:1550px){
    #sobre {
        border-left: 100px solid  #edb2c2;
        border-right: 100px solid  #edb2c2;
    }
}

/* Pone #sobre en bloque cuando no caben una al lado de otra */
@media screen and (max-width: 893px)
{
    #sobreTexto, #sobre img  {
        float: none;
        width: 100%;
        display: block;
    }

    #sobre img {
        width: 100%;
    }
}

/* Reduce más el padding del nav y tamaño de letra de sus elementos */
@media (max-width: 1250px)
{
    nav ul {
        padding: 1% 1%;
    }
    nav ul li a{
        font-size: 13px;
    }
}

/* Pone el header en bloque y el logo y los hs más pequeño */
@media (max-width: 1100px){
    header {
        text-align: center;
    }

    #logoHeader, #headerDer {
        display: block;

    }

    #logoHeader img {
        width: 120px;
    }

    h1 {
        font-size: 40px;
    }

    #headerDer {
        padding-top: 2%;
        float: none;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}


/* Desaparece el nav horizontal y aparece el nav responsive */
@media (max-width: 1005px){
    .checkbtn{
        display: block;
    }

    nav {
        padding: 1% 1%;
        height: 100px;  
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 0;
        background: #6a1a2f;
        top: 300px; 
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 20px 0;
        width: 100%;
        line-height: 20px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left:0;
    }

    /* ocultar desplegable */
    nav ul li ul {
        visibility: hidden;
    }
}

/* Redimensiona artistas */
@media screen and (max-width: 500px){
    .artista img {
        width: 250px;
        height: auto;
    }
}

/* Redimensiona #sobre */
@media screen and (max-width:990px){
    #sobre h2 {
        font-size: 25px;
    }
    #sobre p {
        font-size: 13px;
    }
}

/* Redimensiona la página para anchura de móvil */
@media screen and (max-width:700px){
    header {
        height: 110px;
    }

    #logoHeader img {
        width:75px;
    }

    h1 {
        font-size: 25px;
    }

    #headerDer input[type=search] {
        padding: 6px;
        font-size: 10px;
    }

    #headerDer img {
        width: 30px;
    }

    nav {
        height: 80px;    
    }

    nav ul{
        top: 190px; 
        height: 100%;
    }

    nav ul li a{
        font-size: 16px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }

    #sobre {
        border-left: 30px solid  #edb2c2;
        border-right: 30px solid  #edb2c2;
    }

    #sobre h2 {
        font-size: 15px;
    }
}

/* Redimensiona nav responsive para móviles con menos altura */
@media screen and (max-height:631px)
{
    nav ul li{
        margin: 10px 0;
        line-height: 10px;
        height: 30px;
    }

    nav ul li a{
        font-size: 13px;
    }
}

/*TIENDA*/
@media screen and (max-width:1750px){
    #tienda article img {
        height: 190px;
    }

}

@media screen and (max-width:1200px){
    #tienda article img {
        height: 150px;
    }

    #tienda article p {
        font-size: 13px;
    }
}

@media screen and (max-width:900px){
    #tienda article img {
        height: 100px;
    }

    #tienda article p {
        font-size: 10px;
    }

}

@media screen and (max-width:600px){
    #tienda article img {
        border:1px solid pink;
        height: 50px;
    }

    #tienda article p {
        font-size: 5px;
    } 
}

/*FORMULARIO SUSCRIPCIÓN*/
@media screen and (max-width:1455px){

    #suscripcion {
        margin: 0 25%;
    }
}

@media screen and (max-width:1170px){
  
    #suscripcion {
        margin: 0 15%;

    }
    
}

@media screen and (max-width:900px){
  
    #suscripcion {
        margin: 0 10%;
    }

    #suscripcion label {
        font-size: 14px;
    }
}

@media screen and (max-width:600px){
    #suscripcion label {
        font-size: 10px;
    }

    #suscripcion input {
        width: 180px;
        height: 20px;
        font-size: 10px;
    }

    .buttons {
        font-size: 10px;
    }
    
}
