/*** Reseteo inicial de propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** PROPIEDADES COMUNES ***/
/*Centrar todas las secciones lógicas*/
#bienvenida, #tienda, #artistas,  #sobre, #footer {
    text-align: center;
}

/*Fondos de cada sección lógica*/
#bienvenida, #artistas, #sobre {
    background-color: white;
}

nav, #tienda, footer {
    background-color: #edb2c2;
}

#bienvenida, #tienda, #artistas {
    padding-block-end: 5%;
}

/*Formatear enlaces, encabezados y párrafos*/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Añadir fuentes */
@font-face {
    font-family: cinzelDecorative;
    src: url(../fonts/CinzelDecorative-Bold.ttf);
}

@font-face {
    font-family: elMessiriBold;
    src: url(../fonts/ElMessiri-Bold.ttf);
}

@font-face {
    font-family: julee;
    src: url(../fonts/Julee-Regular.ttf);
}

@font-face {
    font-family: questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

/*https://fonts.google.com/?preview.text=UNA%20GRAN%20SELECCI%C3%93N%20EN%20ARTISTOBRA&preview.text_type=custom&category=Display */

h1 {
    font-family: cinzelDecorative;
    text-transform: uppercase;
    font-size: 50px;
}

h2 {
    padding: 3% 20%;
    font-family: elMessiriBold;
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    padding: 3% 0;
    font-family: elMessiriBold;
    font-size: 30px;
}

h4 {
    font-family: cinzelDecorative;
    text-transform: uppercase;
    font-size: 20px;
}

p
{
    font-family: questrial;
}

/*** PROPIEDADES POR SECCIÓN LÓGICA ***/

/*** HEADER ***/
header {
    height: 200px;
    width: 100%;
    padding: 3% 10%;
}

#logoHeader, #headerDer {
    display: inline-block;
}

header img {
    vertical-align: middle;
}

#logoHeader img, h1 {
    display: inline;
}


#headerDer {
    float: right;
}


#headerDer input[type=text] {
    padding: 6px;
    margin-right: 16px;
    font-size: 17px;
}

/*** NAV ***/
/*** Nav sin desplegar ***/
nav {
    font-family: elMessiriBold;
    font-size: 20px;
    height: 200px;
}

nav ul {
    width: 100%;
    text-align: center;
    padding: 50px 10%;
}

/* items del nav */
nav ul li {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 16%;
    background-color: #6a1a2f;
}

/* enlaces del nav */
nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
}

/* efecto al pasar el ratón */
nav ul li:hover {
    border: 1px solid #6a1a2f;
    background: white;
}

nav ul li:hover a {
    color: #6a1a2f;
}

/*** Nav desplegable ***/
nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

/* items del nav desplegable */
nav ul ul li {
    width:100%;
}

/* items del nav desplegable al pasar el ratón */
nav ul li:hover > ul {
    display:block;
}

/* enlaces de los items del nav desplegable */
nav ul li:hover > ul a {
    color:white;
}

/* efecto al pasar el ratón por los ítems del nav desplegable */
nav ul li:hover > ul li:hover a {
    color:#6a1a2f;
}

/*** Nav responsive ***/
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/*** BIENVENIDA ***/
#bienvenida img {
    width: 60%;
}

/*** TIENDA ***/
#tienda img {
    width: 70%;
}

/*** ARTISTAS ***/
#artistas > p {
    margin: 0 15%;
    line-height: 30px;
    padding-bottom: 30px;
}

.artista p {
    font-family: julee;
    font-size: 20px;
}

#artistas img {
    height: 400px;
}

/*Imágenes de artistas y su descripción*/

.artista {
    position: relative;
    display: inline-block;
    margin: 3%;
}

.artista section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: left;
    line-height: 30px;
    padding: 5%;
    font-size: 15px;
    background-color: white;
}

/*** SOBRE ***/
#sobre {
    border-left: 250px solid  #edb2c2;
    border-right: 250px solid  #edb2c2;
}

/*Posición texto e imagen uno al lado del otro*/
#sobre, #sobreTexto, #sobre img {
    float: left;
}

#sobreTexto {
    width: 50%;
    margin-top: 5%;
}

#sobre img {
    width: 50%;
}

#sobre p {
    margin: 0 5%;
    text-align: justify;
    font-size: medium;
    line-height: 20px;
    padding-bottom: 40px;
}


/*** FOOTER ***/
footer {
    clear: left;
    padding-block-start: 5%;
    text-align: center;
}

#formulario {
    width: 800px;
    padding: 2% 0;
}

#logoFooter {
    padding: 2%;
}

#logoFooter img {
    width: 60px;
    height: auto;
    vertical-align: middle;
}

#logoFooter img, h4 {
    display: inline;
}

#redesSociales img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

footer p {
    padding: 3%;
}

/*** RESPONSIVE ****/
/* Hace más pequeña la letra de los enlaces del nav para que siga cabiendo */
@media (max-width: 1710px){
    nav ul li a{
        font-size: 16px;
    }
}

/* Desaparece el nav horizontal y aparece el nav responsive */
@media (max-width: 1530px){
    .checkbtn{
        display: block;
    }

    nav {
        height: 100px;     
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 60%;
        padding: 0;
        background: #6a1a2f;
        top: 300px; 
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 15px 0;
        width: 100%;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left:0;
    }

    /* ocultar desplegable */
    nav ul li ul {
        visibility: hidden;
    }
}

/* Pone el header en bloque y el logo más pequeño */
@media (max-width: 1300px){
    header {
        text-align: center;
    }

    #logoHeader, #headerDer {
        display: block;
    }

    #logoHeader img {
        width: 120px;
    }

    h1 {
        font-size: 40px;
    }

    #headerDer {
        padding-top: 2%;
        float: none;
    }

    h2 {
        font-size: 30px;
    }
}


/* Reduce el borde de #sobre */
@media screen and (max-width:1550px){
    #sobre {
        border-left: 100px solid  #edb2c2;
        border-right: 100px solid  #edb2c2;
    }

    #formulario {
        width: 300px;
    }
}

@media screen and (max-width:990px){
    #sobre h2 {
        font-size: 25px;
    }
    #sobre p {
        border: 5px solid red;
        font-size: 13px;
    }
}

/*** MÓVIL ***/
@media screen and (max-width:700px){
    header {
        height: 110px;
    }

    #logoHeader img {
        width:75px;
    }

    h1 {
        font-size: 25px;
    }

    #headerDer input[type=text] {
        padding: 6px;
        font-size: 10px;
    }

    #headerDer img {
        width: 50px;
    }

    nav {
        height: 80px;    
    }

    nav ul{
        top: 190px; 
        padding: 10% 0;
        height: 70%;
        border: 5px solid red;
    }

    nav ul li{
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    #sobre {
        border-left: 30px solid  #edb2c2;
        border-right: 30px solid  #edb2c2;
    }

    #sobre h2 {
        font-size: 15px;
    }

    #sobre img {
        vertical-align: center;
    }
}
